# dotfiles utils
alias dotfiles='cd ~/Documents/dev/dotfiles'
alias source.bash='source ~/.bashrc'

# bash
alias ls='ls -F --color=auto --show-control-chars'
alias ll='ls -l'
alias rm='rm -iv'

# yarn scripts
alias nys='npx yarn start:debug'
alias nyd='npx yarn dev'

# git
alias forceamend='git commit --amend --no-edit; git push --force'
 