# Dotfiles utils
alias dotfiles='cd ~/Documents/dev/dotfiles'
alias source.bash='source ~/.bashrc'

# Enhanced bash commands
alias ls='ls -F --color=auto --show-control-chars'
alias ll='ls -l'
alias rm='rm -iv'

# Yarn scripts
alias nys='npx yarn start:debug'
alias nyd='npx yarn dev'

# Git
alias forceamend='git commit --amend --no-edit; git push --force'
 